body {
  background: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: top;
  height: 100px;
  width: 100%;
}

/* utilities */

.container {
  width: 80%;
  margin: 50px auto;
}

.logo-size {
  width: 100px;
}

/* main style*/

/* section 1*/
.reference {
  color: lightgray;
  line-height: 10px;
}

.fix {
  color: blue;
}

.fix2 {
  font-size: 12px;
}

/* section 2*/

.caption-fix {
  padding-top: 0px;
  color: rgb(167, 157, 157);
}

/*section 3*/

.enfasi {
  background-color: yellow;
}
